/.idea
/.cproject
/.project
/.settings
/logs
/build
/vendor
/node_modules
/tmp
/var
/projects
/.php-cs-fixer.cache
/.phpunit.cache
/composer.lock
*.o
*.dll
*.so
*.dylib
*.exe
*.obj
*.pdb
*.lib
*.exp
*.class
*.wasm
__pycache__
/tpc
tests/**/*.diff
tests/**/*.exp
tests/**/*.log
tests/**/*.out
tests/**/*.php
!tests/windows/clang/*.php
tests/**/*.sh
/*.browser/
/tests/wasm/harness/node_modules/
/ide-helper/
/debug/
